.common-tag {
	width: 54rpx;
	height: 28rpx;
	line-height: 28rpx;
	font-size: 20rpx;
	margin-left: 30rpx;
	padding: 0 6rpx;
	background: #ffffff;
	border: 1px solid $uni-color-primary;
	color: $uni-color-primary;
	border-radius: 14rpx 14rpx 14rpx 0rpx;
  }